<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/admin_navbar.css}">
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h2>문의 내역 관리</h2>
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>상태</th>
            <th>답변</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ask, loop : ${list}">
            <td th:text="${loop.count}"></td>
            <td th:text="${ask.title}"></td>
            <td th:text="${ask.user.name}"></td>
            <td th:text="${#temporals.format(ask.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${ask.status}"></td>
            <td>
                <button th:if="${ask.status != '답변완료'}" class="btn btn-primary btn-sm"
                        th:onclick="'showAnswerForm(' + ${ask.id} + ')'">답변하기</button>
                <span th:if="${ask.status == '답변완료'}" th:text="${ask.answer}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="answerForm" style="display: none;">
        <form id="answerFormSubmit" method="post">
            <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            <div class="form-group">
                <label for="answer">답변:</label>
                <textarea class="form-control" id="answer" name="answer" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">답변 제출</button>
        </form>
    </div>

    <script>
        function showAnswerForm(askId) {
            var form = document.getElementById('answerForm');
            form.style.display = 'block';
            var submitForm = document.getElementById('answerFormSubmit');
            submitForm.action = '/ask/answer/' + askId;
        }

    </script>
</div>
</body>
</html>