<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/notice.css}">

</head>
<body>
<div class="content-wrapper">
    <div th:replace="main_sidebar :: main_sidebar"></div>

    <main class="main-content">
        <h2>학사공지</h2>
        <div class="notice-list">
            <div th:each="notice : ${list}" class="notice-item">
                <div class="notice-header" th:onclick="'toggleContent(' + ${notice.id} + ')'">
                    <h3 th:text="${notice.title}">공지사항 제목</h3>
                    <span class="notice-date" th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd HH:mm')}">날짜</span>
                </div>
                <div th:id="'content-' + ${notice.id}" class="notice-content" style="display: none;">
                    <p th:text="${notice.content}">공지사항 내용</p>
                </div>
                <div class="notice-actions">
                    <a th:href="@{'/notice/update/' + ${notice.id}}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-edit">수정하기</a>
                    <button th:onclick="'deleteNotice(' + ${notice.id} + ')'"  sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-delete">삭제하기</button>
                </div>
            </div>
        </div>
    </main>

</body>
<script>
    function toggleContent(id) {
        var content = document.getElementById('content-' + id);
        if (content.style.display === 'none') {
            content.style.display = 'block';
        } else {
            content.style.display = 'none';
        }
    }

    function confirmDelete(id) {
        if (confirm('정말로 이 공지를 삭제하시겠습니까?')) {
            document.getElementById('deleteForm-' + id).submit();
        }
    }
</script>
</html>